{% from 'macros/common.html' import panel_tag %}
{% from 'macros/common.html' import fa_icon %}
{% from 'macros/users.html' import render_user_avatar %}

<div class="panel panel-default" id="panel-paste-user">
  <div class="panel-heading text-center">
    <div class="avatar-wrapper">
      {{ render_user_avatar(paste.user, size=80) }}  
    </div>
    
    <h4>{{ paste.user.username }}</h4>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item">
      <span class="badge">13</span>
      {{ fa_icon('code', text='代码段') }}
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">7</span>
      {{ fa_icon('user', text='关注') }}
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">12</span>
      {{ fa_icon('user', text='粉丝') }}
    </a>
    <a href="#" class="list-group-item">
      <span class="badge">12</span>
      {{ fa_icon('heart', text='喜欢') }}
    </a>
  </div>
</div>