{% extends 'base.html' %}

{% from 'macros/pastes.html' import render_code %}
{% from 'macros/common.html' import render_comment_form with context %}
{% from 'macros/common.html' import fa_icon %}

{% block title %}{{ paste.title }}{% endblock %}

{% block content %}
  <h3 class="page-header">
    {{ paste.title }}

    {% if not paste.is_private %}
      <small><i class="fa fa-lock text-warning" title="私有"></i></small>
    {% endif %}
  </h3>

  <div class="page-sub-header">
    <div class="actions pull-right">
      <a href="#" title="喜欢" class="btn btn-default btn-xs action action-like">
        {{ fa_icon('heart', text=113) }}
      </a>
    </div>

    <span class="text-muted">
      最后更新于 {{ paste.updated_at | time_passed }}
    </span>
  </div>

  {% for code in paste.codes %}
    {{ render_code(code) }}
  {% endfor %}

  {{ render_comment_form(paste.to_disqus_identifier()) }}
{% endblock %}

{% block sidebar %}
  {% include 'pastes/paste_user_panel.html' %}
{% endblock %}
