{% extends 'base.html' %}

{% from 'macros/pastes.html' import render_code %}
{% from 'macros/common.html' import render_comment_form with context %}

{% block title %}{{ paste.title }}{% endblock %}

{% block content %}
  <h3 class="page-header">
    <span class="fa {% if paste.is_user_favourited() %}fa-star{% else %}fa-star-empty{% endif %}" aria-hidden="true"></span>

    {% if paste.is_private %}
      <span class="fa fa-lock text-warning" title="私有"></span>
    {% endif %}

    {{ paste.title }}
  </h3>

  {% for code in paste.codes %}
    {{ render_code(code) }}
  {% endfor %}

  {{ render_comment_form(paste.to_disqus_identifier()) }}
{% endblock %}

{% block sidebar %}
  {% include 'pastes/paste_user_panel.html' %}
{% endblock %}
