.paste {
  margin-bottom: 30px;
}
.paste-metas a {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  width: 100px;
}
.paste-metas a:hover {
  color: #555;
}
.paste-metas a .fa {
  margin-right: 3px;
}
.code .panel-body pre {
  margin: -15px;
  padding: 0;
  border: 0;
  background: none;
}

#panel-paste-user .panel-heading {
  border-bottom: 1px solid #DDDDDD;
}
#panel-paste-user .img-rounded {
  border-radius: 50%;
}

.view_pastes.func_show .page-header {
  margin-bottom: 5px;
}
.view_pastes.func_show .page-sub-header {
  margin-bottom: 20px;
}

.action-like:hover,
.action-unlike,
.action-unlike:hover {
  color: #E5214A
}